body,
header,
footer, .menu {
  text-align: center;
}
body,
header,
footer, .menu, .footer, .social, .social a {
  display: flex;  
}
body {
  font: normal 14px "Arial", "Time new Roman", serif;
}
body, .footer {
   flex-direction: column; 
}
body,
header,
footer {
  min-width: 100%;
}
.menu {
    justify-content: space-between;
}
.menu {
  justify-content: space-between;
  width: 100%;
  padding: 5px 80px;

}
.menu, footer,
header, header li  {
    align-items: center;
}
header {
  position: fixed;
  height: 50px;
}
footer,
header {
  background-color: rgb(15, 65, 173);
}
footer {
    height: 120px;
}
img {
  max-width: 50%;
  border: solid 5px white;
  border-radius: 100%;
}
header li {
  list-style: none;
}
header li, a:hover, a:active {
    text-decoration: none;
}
a:hover {
  color: rgb(30, 255, 0);
}
a:active {
  color: yellow;
}
a, .main, footer {
  color: white;
}
main, .main {
    height: 150vh;
}
.main {
  background-color: rgb(3, 3, 71);
  max-width: 30%;
  float: left;
  margin: 0 50px;
  padding: 70px 20px;
  font-size: 1.2em;
}
figcaption {
  font-size: 1.5em;
}
.main div div {
  margin: 20px 0;
}
h3 {
  border: solid 2px white;
  border-radius: 20px;
}
section {
    padding: 70px 20px 0 20px;
}
section, ul, .footerMenu, .footer {
    text-align: start;
}
ul{
    display: block;
}
.footerMenu {
    text-align: start;
    flex-grow: 3;
}
.footer{

    flex-grow:1;
}
.footer, .footerMenu {
margin: 5px 50px;
}
.social div {
    margin: 5px;
}
.fab {
    font-size
}